body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#allMonsterSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#teamSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.monsterCard {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s;
}

.monsterCard:hover {
    transform: scale(1.05);
}

.monsterCard img {
    width: 100%;
}

.monsterName {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.monsterSpeciality {
    font-size: 1rem;
}

